fontawesome-free-*
__pycache__
*.pyc
/build
/dist
/wagtail_font_awesome_svg.egg-info
/.coverage
/htmlcov
/.tox
/env
/venv
/.vscode
/.idea
/site
/test_wagtail_font_awesome_svg.db
/node_modules
/test-static
/test-media
